$pale-grey: #f2f5fa;
$primary: #ee5f7b;
$navy: #001433;
$blue-grey: #91a2bc;
$steel: #7a7d86;
$orange-yellow: #f5a623;
$red: #d0021b;
$blue: #4a90e2;
$greyish-brown: #4a4a4a;
$white: "#ffffff";

:export {
  paleGrey: $pale-grey;
  primary: $primary;
  navy: $navy;
  blueGrey: $blue-grey;
  steel: $steel;
  orangeYellow: $orange-yellow;
  red: $red;
  blue: $blue;
  grey: $greyish-brown;
  white: "#fff";
}