.description {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5em;
  line-height: 1.8em;
}

.img__watch{
  width: 267px;
  height: 200px;
}

.icon {
  position: absolute;
  bottom: -30px;
}

.icon--left{
  right: 100px;
}

.icon--right{
  right: 40px;
}
