:export {
  paleGrey: #f2f5fa;
  primary: #ee5f7b;
  secondary: #5fed77;
  navy: #001433;
  blueGrey: #91a2bc;
  steel: #7a7d86;
  orangeYellow: #f5a623;
  red: #d0021b;
  blue: #4a90e2;
  grey: #4a4a4a;
  white: #ffffff;
  black: #000000;
  navBg: #000000;
  bg: #3896ba;
  bg5: #f5f9fb;
  bg10: #ebf4f8;
  bg17: #ddedf3;
  bgGrey: #f1f1f1; }

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-size: 13px; }

@media (min-width: 768px) {
  :root {
    font-size: 16px; } }
body {
  font-family: "Rubik", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal; }

.color__pale-grey {
  color: #f2f5fa; }

.bg__pale-grey {
  background-color: #f2f5fa; }

.color__primary {
  color: #ee5f7b; }

.bg__primary {
  background-color: #ee5f7b; }

.color__navy {
  color: #001433; }

.bg__navy {
  background-color: #001433; }

.color__blue-grey {
  color: #91a2bc; }

.bg__blue-grey {
  background-color: #91a2bc; }

.color__steel {
  color: #7a7d86; }

.bg__steel {
  background-color: #7a7d86; }

.color__orange-yellow {
  color: #f5a623; }

.bg__orange-yellow {
  background-color: #f5a623; }

.color__red {
  color: #d0021b; }

.bg__red {
  background-color: #d0021b; }

.color__blue {
  color: #4a90e2; }

.bg__blue {
  background-color: #4a90e2; }

.color__grey {
  color: #4a4a4a; }

.bg__grey {
  background-color: #4a4a4a; }

.color__white {
  color: #ffffff; }

.bg__white {
  background-color: #ffffff; }

.color__black {
  color: #000000; }

.bg__black {
  background-color: #000000; }

.color__navBg {
  color: #000000; }

.bg__navBg {
  background-color: #000000; }

.color__bg {
  color: #3896ba; }

.bg__bg {
  background-color: #3896ba; }

.color__bg-5 {
  color: #f5f9fb; }

.bg__bg-5 {
  background-color: #f5f9fb; }

.color__bg-10 {
  color: #ebf4f8; }

.bg__bg-10 {
  background-color: #ebf4f8; }

.color__bg-17 {
  color: #ddedf3; }

.bg__bg-17 {
  background-color: #ddedf3; }

.color__bg-grey {
  color: #f1f1f1; }

.bg__bg-grey {
  background-color: #f1f1f1; }

.text {
  font-stretch: normal;
  color: #4a4a4a; }
  .text__btn {
    font-size: 14px; }
  .text__bold {
    font-weight: bold; }
  .text__t1 {
    font-size: 3.3125rem; }
  .text__h1 {
    font-size: 2.25rem; }
  .text__h2 {
    font-size: 1.875rem; }
  .text__h3 {
    font-size: 1.65rem; }
  .text__h4 {
    font-size: 1.5rem; }
  .text__quote {
    font-size: 1rem;
    font-style: italic; }
  .text__b1 {
    font-size: 16px;
    line-height: 24px; }
  .text__d1 {
    font-size: 1rem; }
  .text__d2 {
    font-size: 1.75rem; }
  .text__d3 {
    font-size: 0.75rem; }
  .text__center {
    text-align: center; }

.font__bold {
  font-weight: bold; }
.font__normal {
  font-weight: normal; }
.font__medium {
  font-weight: medium; }

/* ------------- img ------------- */
.img__decorate {
  width: 500px; }
  .img__decorate--mobile-card {
    width: 480px; }
  .img__decorate--side {
    width: 300px;
    height: 170px; }
.img__logo {
  cursor: pointer;
  width: 150px;
  height: 52px; }
.img__icon {
  width: 32px; }
  .img__icon--md {
    width: 64px;
    height: 64px; }
.img__movie--poster {
  width: 320px;
  height: 30rem; }
.img__movie--normal {
  width: 220px;
  height: 300px; }
.img-sm {
  width: 150px;
  height: auto; }
.img-md {
  width: 250px;
  height: auto; }

.icon {
  width: 32px;
  height: 32px; }
  .icon--tiny {
    width: 16px;
    height: 16px; }
  .icon--sm {
    width: 24px;
    height: 24px; }
  .icon--md {
    width: 64px;
    height: 64px; }

.anim--fadeIn {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.a-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }

.footer {
  min-height: 20vh; }

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none; }

.menu-item-wrapper {
  border: none;
  outline: none; }
  .menu-item-wrapper .active {
    border: none;
    outline: none; }

.menu-item.active {
  border: none;
  outline: none; }

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer; }

/*# sourceMappingURL=App.css.map */
