body {
  font-family: "Rubik", sans-serif;
}

:root {
  font-size: 16px;
}

@import "./theme/color/colors";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin s-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin s-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin s-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin s-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

$colors: (
  "pale-grey": $pale-grey,
  "primary": $primary,
  "navy": $navy,
  "blue-grey": $blue-grey,
  "steel": $steel,
  "orange-yellow": $orange-yellow,
  "red": $red,
  "blue": $blue,
  "grey": $greyish-brown,
  "white": $white,
  "black": $black,
  "navBg": $black,
  "bg": $window-blue,
  "bg-5": $window-blue-5,
  "bg-10": $window-blue-10,
  "bg-17": $window-blue-17
);

@each $name, $glyph in $colors {
  .color__#{$name} {
    color: $glyph;
  }

  .bg__#{$name} {
    background-color: $glyph;
  }
}

/* ------------- text ------------- */

.text {
  font-family: AvenirNext;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $greyish-brown;
  &__t1 {
    font-size: 3.3125rem;
    font-weight: bold;
  }

  &__h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  &__h2 {
    font-size: 1.875rem;
    font-weight: bold;
  }

  &__h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__d2 {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &__quote {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.42;
    font-style: italic;
  }

  &__b1 {
    font-size: 1rem;
    font-weight: 500;
  }

  &__d1 {
    font-size: 1rem;
    font-weight: normal;
  }
}

/* ------------- img ------------- */

.img {
  &__decorate {
    width: 500px;

    &--mobile-card {
      width: 480px;
    }
  }

  &__logo {
    width: 150px;
    height: 52px;
  }

  &__icon {
    width: 32px;
    height: 32px;

    &--small {
      width: 16px;
      height: 16px;
    }

    &--large {
      width: 64px;
      height: 64px;
    }
  }

  &__poster{
    width: 320px;
    height: 480px;
  }

  &-sm{
      width: 150px;
      height: auto;
  }

  &-md{
      width: 250px;
      height: auto;
  }
}

/* ------------------------ movie ticket ------------------------ */
.anim{
  &--fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
