body {
  font-family: "Rubik", sans-serif;
}

@import "./theme/color/colors";

$colors: (
  "pale-grey": $pale-grey,
  "primary": $primary,
  "navy": $navy,
  "blue-grey": $blue-grey,
  "steel": $steel,
  "orange-yellow": $orange-yellow,
  "red": $red,
  "blue": $blue,
  "grey": $greyish-brown,
);

@each $name, $glyph in $colors {
 .color__#{$name}{
  color: $glyph;
 }

 .bg__#{$name}{
   background-color: $glyph;
 }
}

.text {
  font-family: AvenirNext;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $greyish-brown;
  &__t1 {
    font-size: 53px;
    font-weight: bold;
  }

  &__h1 {
    font-size: 36px;
    font-weight: bold;
  }

  &__h2 {
    font-size: 30px;
    font-weight: bold;
  }

  &__h3 {
    font-size: 24px;
    font-weight: bold;
  }

  &__h4 {
    font-size: 20px;
    font-weight: bold;
  }

  &__d2 {
    font-size: 28px;
    font-weight: bold;
  }

  &__quote {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.42;
    font-style: italic;
  }

  &__b1 {
    font-size: 16px;
    font-weight: 500;
  }

  &__d1 {
    font-size: 16px;
    font-weight: normal;
  }
}


.image__decorate{
  width: 500px;
  height: 380px;
}
